* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #4A494A;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: #4A494A;
  /*position: relative;*/
  overflow: hidden;
}

.container {
  /*position: relative;*/
  min-width: 100%;
  min-height: 100%;
  color: white;
  background-color: green;
  margin: 0px auto;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  object-fit: none;
  background-color: #4A494A;
  margin: 0px auto;
}
